

.footer-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: rgb(67,91,161);
    position: relative;
}

.list-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.option-list li {
    color: black;
}

.option-list .search-mail {
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.email-right-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    top:15px;
    left:240px;
    color:rgb(19,197,221) ;
}

.heading {
    color:white;
    font-size:20px;
}

.sub-email {
    margin-bottom: 10px;
}

.social-container {
    padding-top: 30px;
    border-top:1px solid grey;
    color:white;
    background-color: rgb(67,91,161);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: relative;
}


.icons-right {
    text-align: end;
}

.highlight {
    color:rgb(19,197,221);
}

.list {
    color: rgb(29, 42, 77);
}

.facebook-icon {
    height: 30px;
    width: 30px;
}

.linkedin-icon {
    height: 30px;
    width: 30px;
}